
.vscode/.ropeproject/objectdb
working/
**/tmp/
**/old
**/*.old
**/__pycache__
**/.Xil
*.vcd
*.old
*.pyc
*.pyo
*.swp
*.jou
*.log
*.pid
**/sim_build/
**/__pycache__/
**/results.xml
*.stats
*.fst
*.fst.hier

